.invalid{
    color: wheat;
    background-image: url(/assets/icons/invalid.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-color: rgba(255, 51, 51, 0.1);
    border-radius: 5px;
    font-size: smaller;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.invalid2{
    color: black;
    background-image: url(/assets/icons/invalid.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-color: rgba(255, 51, 51, 0.1);
    border-radius: 5px;
    font-size: small;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;

}

.valid{
    color: wheat;
    background-image: url(/assets/icons/valid.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-color: rgba(51, 255, 51, 0.1);
    border-radius: 5px;
    font-size: smaller;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}
.valid2{
    color: black;
    background-image: url(/assets/icons/valid.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-color: rgba(51, 255, 51, 0.1);
    border-radius: 5px;
    font-size: small;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}