@font-face { font-family: 'Montserrat'; src: url('../font/Montserrat-VariableFont_wght.ttf'); }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: 14px 'Montserrat', sans-serif;
}

.sidebar{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8))
  ,url('../images/GrassBackground3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0% 0%;
  font-size: 20px;
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1;
  

  /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));*/
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 1px solid #ccc;
  
}
a {
  text-decoration: none;
}

.sidebar h3{
  color: #FFD700;
  font-size: 20px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 600;
  text-align: center;
  
}

.sidebar ul li{
  list-style: none;
  
}

.sidebar ul li a{
  color: white;
  font-style: bold;
}

.sidebar ul li a:hover{
  color: #228B22;
  transition: 0.5s;
  margin-left: 20px;
  
}

li a i{
  margin-right: 10px;
  font-size: 20px;
}


li a span{
  font-size: 13px;
  font-weight: 600;
}



#ownerh1{
  color: #585b5b;
  margin: 0;
  padding-top: 3%;
  padding-left: 160px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}


.dashboard-content{
  display: flex;
  width: 1000px;
  height: 250px;
  margin: 0 auto; 
  padding-top: px;
  /*border: 1px solid black;*/
  margin-top: 20px;
  margin-bottom: 2px;
}

.dashboard-section{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 20px;
  width: 700px;
  height: 150px;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 5%;
  margin-right: 2%;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


main{
  margin-left: 230px;
  padding: 5px;
  margin-right: 240px;
  
}

h1 {
  text-align: center;
}

.side-div{
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin:0 auto;  
  padding: 25px;
}
.side-div a{
  text-decoration: none;
}

.side-div:hover{
  transition: 0.9s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dashboard-section i{
  font-size: 50px;
  padding-left: 40px;

}

#ic1{
  color: #FFD700;
}

#ic2{
  color: #4169E1;
}

#ic3{
  color: #FF4500;
}

#ic4{
  color: #228B22;
}

#dash-num1{
  font-size: 20px;
  font-weight: 600;
  color:  #FFD700;
}

#dash-num2{
  font-size: 20px;
  font-weight: 600;
  color:  #4169E1;
}

#dash-num3{
  font-size: 20px;
  font-weight: 600;
  color:  #FF4500;
}

#dash-num4{
  font-size: 20px;
  font-weight: 600;
  color:  #228B22;
}

#dash-p{
  font-size: 15px;
  font-weight: 600;
  color:#585b5b;
}
.available{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    z-index: 1;
}
.unavailable{
  position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    z-index: 1;
}
.chart-cont{
  width: 650px;
  height: 300px;
  
}

.container1 h2{
  padding-top: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 600;
  color:#585b5b;
  
}

.container1{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin-left: 370px;
  margin-right: 150px;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom:3%;
  margin-bottom: 40px ;
}

.btnmain{
  display: flex;
}

.btn1{
  width: 350px;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  background-color: black;
  margin-bottom: 6%;
  margin-left: 300px;
}

.btn1:hover{
  color: black;
  transition: 0.3s;
  /*margin-left: 20px;*/
  background-color: white;
  border: 2px solid black;
}

.ul2 li{
  list-style: none;
  
}

.ul2 li a{
  color: white;
  font-style: bold;
}

.ul2 li a:hover{
  color: black;
  transition: 0.4s;
  margin-left: 35px;
  background-color: white;
  
}

.ul2 i{
  margin-left: 10px;
  font-size: 13px;
  
}

.ul2 span{
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 20px;
}