body {
   font-family:  'Pacifico', cursive;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: pink;
}

.landing-page {
   text-align: center;
}

.header {
   margin-bottom: 20px;
}

.header h1 {
   font-family: 'Pacifico', cursive;
   font-size: 48px;
   margin: 0;
}

.header h2 {
   font-size: 24px;
   margin: 10px 0 20px 0;
}

.buttons {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.button {
   display: inline-block;
   padding: 10px 20px;
   background-color: purple;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   font-size: 16px;
   transition: background-color 0.3s ease;
}

.button:hover {
   background-color: powderblue;
}

@media (max-width: 768px) {
   h1 {
     font-size: 36px;
   }
   h2 {
     font-size: 20px;
   }
 }
 :root {
   --background-color: pink;
   --text-color: black;
 }
 
 body {
   background-color: var(--background-color);
   color: var(--text-color);
 }
 
 .dark-mode {
   --background-color: black;
   --text-color: white;
 }
 html {
   scroll-behavior: smooth;
 }
 .button:hover {
   transform: scale(1.05);
 }
 background: linear-gradient(to right, pink, purple);

